<h2>社員リスト</h2>
<table>
  <tr *ngFor="let member of members">
    <td>
      <button class="employee-button" (click)="onSelectEmp(member)">
        <span class="empid">{{member.empId}}</span>
        <span class="empname">{{member.empName}}</span>
      </button>
    </td>
  </tr>
</table>

<div *ngIf="selectedMember !== undefined">
  <h2>{{selectedMember.empName}}</h2>
  <div>社員番号：{{selectedMember.empId}}</div>
  <div>名前：
    <input type="text" [(ngModel)]="selectedMember.empName">
  </div>
  <div>年齢{{selectedMember.empAge}}歳</div>
</div>




